/* font-family: 'Manjari', sans-serif;
font-family: 'Hepta Slab', serif; */
body {
  color: white;
  font-family: "Manjari", sans-serif;
  background: url(./img/number-lock-ish.jpg);
  padding: 0;
}

#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

/* header {
  height: 100vh;
} */
#instructions {
  display: none;
  /* position: relative; */
}

/* @media screen and (max-width: 728px) {
  #stubborn-div {
    position: absolute;
    top: 500px;
  }
} */

.conclusion {
  display: none;
}

.footer-success {
  display: none;
  margin-left: 20%;
  border: 1px solid green;
  margin-right: 20%;
}

#first-submit {
  width: 80%;
  margin: 2.5% 10% 10%;
}
#third-submit {
  width: 80%;
  margin: 2.5% 10% 2.5%;
}

#loading-result {
  display: none;
  margin: 2.5% 10% 15%;
}

#display-image {
  height: 200px;
  width: 200px;
}

#player-1 {
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  padding: 0 5%;
}
#player-2 {
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  padding: 0 5%;
}

h2 {
  font-size: 3em;
}
li {
  font-size: 1.5em;
  word-spacing: 0.15em;
  letter-spacing: 0.05em;
}

#proceed-1 {
  display: none;
}

.player-info {
  font-size: 2em;
  padding: 0 10%;
}
.intro-text {
  font-size: 1.5em;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  padding: 0 10%;
}
.intro-text-ps {
  font-size: 1.3em;
  font-style: italic;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  padding: 0 10%;
}
.intro-header {
  font-size: 5em;
  padding: 0 10%;
}

.name-alert {
  margin: 0 14.5%;
}

#footer-button-green,
#footer-button-red {
  width: 80%;
  margin: 2.5% 20% 5%;
  padding: 2.5% 0;
}

#footer-department {
  display: none;
}
#first-alert {
  visibility: hidden;
  border: 1px solid red;
  font-size: 1.2em;
}

#second-alert,
#third-alert {
  display: none;
  border: 1px solid red;
  font-size: 1.2em;
}

.card-header {
  color: white;
  border: 1px solid turquoise;
  border-radius: 20%;
}
.list-group-item {
  color: white;
  border: 1px solid turquoise;
}

.your-results {
  margin-left: 10%;
}
.your-results-compute {
  margin-left: 2%;
}

.error-compute {
  margin-left: 10%;
}

.conc-marg {
  margin: 2.5% 20% 5%;
}

/* do not try this shit at home */
/* @media screen and (max-width: 728px) {
  #stubborn-div {
    position: absolute;
    top: 500px;
  }
  /* insert the whole css file here 

}  */
